<a href="https://colab.research.google.com/github/Ganapathi-tech/python-programming/blob/main/flatting_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = []
for i in range(3) :
  n = input("Enter a Number : ")
  list1.append(n)
print(list1)

Enter a Number : 10
Enter a Number : 20
Enter a Number : 30
['10', '20', '30']

In [ ]:
final = []
for i in range(4):
  list1= []
  for j in range(3) :
    n = input("Enter a Number : ")
    list1.append(n)
  print(list1)
  final.append(list1)

Enter a Number : 10
Enter a Number : 20
Enter a Number : 30
['10', '20', '30']
Enter a Number : 11
Enter a Number : 22
Enter a Number : 33
['11', '22', '33']
Enter a Number : 100
Enter a Number : 200
Enter a Number : 300
['100', '200', '300']
Enter a Number : 1000
Enter a Number : 2000
Enter a Number : 3000
['1000', '2000', '3000']

In [ ]:
print(final)

[['10', '20', '30'], ['11', '22', '33'], ['100', '200', '300'], ['1000', '2000', '3000']]

In [ ]:
s = 0
for i in final[0]:
  s = s + int(i)
print(s)

60

In [ ]:
for x in range(len(final)):
  print(final[x])
  s = 0
  for i in final[x]:
    s = s + int(i)
  print(s)

['10', '20', '30']
60
['11', '22', '33']
66
['100', '200', '300']
600
['1000', '2000', '3000']
6000

In [ ]:
l1 = []
for i in range(2):
  n = input("Enter a number : ")
  l1.append(n)
print(l1)

Enter a number : 111
Enter a number : 222
['111', '222']

In [ ]:
l1

['10', '20']

In [ ]:
final_app = []
final_ext = []
for x in range(5):
  l1 = []
  for i in range(2):
    n = input("Enter a number : ")
    l1.append(n)
  print(l1)
  final_app.append(l1)
  final_ext.extend(l1)

print("Appended List : ", final_app)
print("Extend List : ", final_ext)

Enter a number : 10
Enter a number : 20
['10', '20']
Enter a number : 111
Enter a number : 222
['111', '222']
Enter a number : 100
Enter a number : 200
['100', '200']
Enter a number : 1
Enter a number : 2
['1', '2']
Enter a number : 1000
Enter a number : 2000
['1000', '2000']
Appended List :  [['10', '20'], ['111', '222'], ['100', '200'], ['1', '2'], ['1000', '2000']]
Extend List :  ['10', '20', '111', '222', '100', '200', '1', '2', '1000', '2000']

In [ ]:
import itertools
a = itertools.chain(*final_app)

In [ ]:
a

In [ ]:
list(a)

['10', '20', '111', '222', '100', '200', '1', '2', '1000', '2000']

In [ ]:
list1 = ['10', '20', ['111', '222'], '100', '200', ['1', '2'], ['1000', '2000']]

In [ ]:
# output = ['10', '20', '111', '222', '100', '200', '1', '2', '1000', '2000']

for i in list1 :
  print(i)
  print(type(i))

10
<class 'str'>
20
<class 'str'>
['111', '222']
<class 'list'>
100
<class 'str'>
200
<class 'str'>
['1', '2']
<class 'list'>
['1000', '2000']
<class 'list'>

In [ ]:
list1

['10', '20', ['111', '222'], '100', '200', ['1', '2'], ['1000', '2000']]

In [ ]:
list2 = []
for i in list1:
  if type(i) == list:
    for j in i :
      list2.append(j)
  else :
    list2.append(i)
print(list2)

['10', '20', '111', '222', '100', '200', '1', '2', '1000', '2000']

In [ ]:
a = [['10',[9,18,27], '20'], '111', '222', ['100', ["U","S","A"],'200'], '1', '2', ['1000', '2000']]

In [ ]:
l1 = []
for i in a :
  if type(i) == list :
    for j in i:
      if type(j) == list :
        for k in j:
          l1.append(k)
      else:
        l1.append(j)
  else :
    l1.append(i)

In [ ]:
l1

['10',
 9,
 18,
 27,
 '20',
 '111',
 '222',
 '100',
 'U',
 'S',
 'A',
 '200',
 '1',
 '2',
 '1000',
 '2000']

In [ ]:
l1 = []
for i in range(1,11):
  l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
[ i    for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
[i*i for i in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
num = int(input("Enter a Number : "))
[num*i    for i in range(1,11)]

Enter a Number : 5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
[(num,"*",i,"==",(i*num))  for i in range(1,11)]

[(5, '*', 1, '==', 5),
 (5, '*', 2, '==', 10),
 (5, '*', 3, '==', 15),
 (5, '*', 4, '==', 20),
 (5, '*', 5, '==', 25),
 (5, '*', 6, '==', 30),
 (5, '*', 7, '==', 35),
 (5, '*', 8, '==', 40),
 (5, '*', 9, '==', 45),
 (5, '*', 10, '==', 50)]

In [ ]:
[(str(num)+"*"+str(i)+"=="+str(i*num))  for i in range(1,11)]

['5*1==5',
 '5*2==10',
 '5*3==15',
 '5*4==20',
 '5*5==25',
 '5*6==30',
 '5*7==35',
 '5*8==40',
 '5*9==45',
 '5*10==50']

In [ ]:
[i for i in range(1,20)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
[i for i in range(1,20) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
[i for i in range(1,100) if i%2 == 0]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
[i for i in range(1,100) if i%2 == 0 if i%5 == 0]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
[i   for i in range(1,21)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
[str(i)+"- Even" if i%2 == 0  else str(i)+"- odd"       for i in range(1,21)]

['1- odd',
 '2- Even',
 '3- odd',
 '4- Even',
 '5- odd',
 '6- Even',
 '7- odd',
 '8- Even',
 '9- odd',
 '10- Even',
 '11- odd',
 '12- Even',
 '13- odd',
 '14- Even',
 '15- odd',
 '16- Even',
 '17- odd',
 '18- Even',
 '19- odd',
 '20- Even']