<a href="https://colab.research.google.com/github/Ganapathi-tech/python-programming/blob/main/Operators___SP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
(10> 15) or (100 < 11) or (100 < 11) or  (110 < 11) or  (100 < 11)

False

In [ ]:
(10>15) or (10>11)

False

In [ ]:
not(10 > 15)

True

In [ ]:
a = 1029

In [ ]:
print(a)

1029

In [ ]:
x = a
print(x)

1029

In [ ]:
y = 100 + 10 + 20

In [ ]:
print(y)

130

In [ ]:
a = 100
print(a)

100

In [ ]:
#a = a + 1
a += 1
print(a)

101

In [ ]:
#a = a + 2
a += 2
print(a)

103

In [ ]:
b = 20
print(b)

20

In [ ]:
#b = b * 2
b *= 2
print(b)

40

In [ ]:
#b = b / 4
b /= 4
print(b)

10.0

In [ ]:
#b = b ** 3
b **=3
print(b)

1000.0

# Special Operators 
#  1) Identity Operators 
##  2) Membership Operators

In [ ]:
ms1 = "Hello All.. Very Good Morning "
sub1 = "A"
sub1 in ms1

True

In [ ]:
ms1 = "Hello All.. Very Good Morning "
sub1 = "All"
sub1 in ms1

True

In [ ]:
ms1 = "Hello All.. Very Good Morning "
sub1 = "a"
sub1 in ms1

False

In [ ]:
"INDIA"  in "Welcome to INDIA"

True

In [ ]:
"INDIA "  in "Welcome to INDIA"  # False due to space is added after INDIA

False

In [ ]:
"INDIA" in ["USA", "UK","INDIA", "JAPAN"]

True

In [ ]:
"India" in ["USA", "UK","INDIA", "JAPAN"]  # Because of case sensitive

False

In [ ]:
for i in ["USA", "UK","INDIA", "JAPAN"]:   # usage of in operator
  print(i)

USA
UK
INDIA
JAPAN

In [ ]:
country = input("Enter you Country of origin : ")
if country in ["USA", "UK","INDIA", "JAPAN"]:
  print("Welcome to our college as you are from",country)
else:
  print("You are not eligible to study in our college")

Enter you Country of origin : France
You are not eligible to study in our college

In [ ]:
c = ["USA", "UK","INDIA", "JAPAN"]
a = "FRANCE"

In [ ]:
a not in c

True

In [ ]:
9 in 76589  # it will not work with non iterables

TypeError: ignored

In [ ]:
9 in "76589"   # it will search string in a iterable.. not a integer

TypeError: ignored

In [ ]:
"9" in "76589"

True

# IDENTITY

In [ ]:
a = "Sky"
b = "Sky"
print(id(a))
print(id(b))

140340373048656
140340373048656

In [ ]:
a == b  # This is comparing the value of both variables

True

In [ ]:
a is b  # is operator is comparing the memory location.

True

In [ ]:
x = [10,20,30,40]
y = [10,20,30,40]
print(id(x))
print(id(y))

140340514416904
140340541194952

In [ ]:
x == y # True : because it is comparing the value only

True

In [ ]:
x is y  # False : Because their memory location are different.

False

In [ ]:
x

[10, 20, 30, 40]

In [ ]:
y

[10, 20, 30, 40]

In [ ]:
x[0] == y[0]

True

In [ ]:
print(x[0] is y[0]) # Output is True because x[0] and y [0] is 10 which is again a fundamental datatype
print(id(x[0]))
print(id(y[0]))

True
10914784
10914784

In [ ]:
a = 10
b = 100

In [ ]:
a is b

False

In [ ]:
a is not b

True