<a href="https://colab.research.google.com/github/Ganapathi-tech/python-programming/blob/main/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# **VALUES**
# **LIST**
# NESTED LIST
# SCALAR
# DICTIONARY
# NUMPY ARRAY
# EMPTY

In [ ]:
es1 = pd.Series([], dtype = "float")

In [ ]:
es1

Series([], dtype: float64)

In [ ]:
a = 100
b = 200
c = 300

In [ ]:
vs = pd.Series([a,b,c])

In [ ]:
print(vs)

0    100
1    200
2    300
dtype: int64

In [ ]:
l1 = [100,200,300]

In [ ]:
l1[1]

200

In [ ]:
vs[0]

100

In [ ]:
vs[1]

200

In [ ]:
list1 = ["A","B","C","D"]

In [ ]:
ls = pd.Series(list1)

In [ ]:
ls

0    A
1    B
2    C
3    D
dtype: object

In [ ]:
list1=[[100,200],[200,300],[300,400]]

In [ ]:
a = pd.Series(list1)

In [ ]:
a[1]

[200, 300]

In [ ]:
sc = pd.Series(9, index = [1,2,3,4,5])

In [ ]:
sc

1    9
2    9
3    9
4    9
5    9
dtype: int64

In [ ]:
d1 = {
    "A" : "APPLE",
    "B" : "BAT",
    "C" : "CAR",
    "D" : "DOG"

}

In [ ]:
d1

{'A': 'APPLE', 'B': 'BAT', 'C': 'CAR', 'D': 'DOG'}

In [ ]:
dics1 = pd.Series(d1)

In [ ]:
dics1

A    APPLE
B      BAT
C      CAR
D      DOG
dtype: object

In [ ]:
dics1.index = [1,2,3,4]

In [ ]:
dics1

1    APPLE
2      BAT
3      CAR
4      DOG
dtype: object

In [ ]:
import numpy as np

In [ ]:
a = np.arange(11,16)

In [ ]:
a

array([11, 12, 13, 14, 15])

In [ ]:
s1 = pd.Series(a)

In [ ]:
s1

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [ ]:
sr1 = pd.Series(np.random.randint(10,50,(10)))

In [ ]:
sr1

0    24
1    38
2    33
3    19
4    25
5    37
6    20
7    41
8    44
9    17
dtype: int64

In [ ]:
sr1 > 25

0    False
1     True
2     True
3    False
4    False
5     True
6    False
7     True
8     True
9    False
dtype: bool

In [ ]:
sr1[ sr1 > 25 ]

1    38
2    33
5    37
7    41
8    44
dtype: int64

In [ ]:
sr1

0    24
1    38
2    33
3    19
4    25
5    37
6    20
7    41
8    44
9    17
dtype: int64

In [ ]:
sr1[4]

25

In [ ]:
sr1[2:7]

2    33
3    19
4    25
5    37
6    20
dtype: int64

In [ ]:
sr1

0    24
1    38
2    33
3    19
4    25
5    37
6    20
7    41
8    44
9    17
dtype: int64

In [ ]:
x = sr1[  [1,2,5,6,8,9] ]

In [ ]:
type(x)

pandas.core.series.Series

In [ ]:
x

1    38
2    33
5    37
6    20
8    44
9    17
dtype: int64

In [ ]:
sr2 = pd.Series([34,56,32,8,9,91], index = ["A","B","C","D","E","F"])

In [ ]:
sr2

A    34
B    56
C    32
D     8
E     9
F    91
dtype: int64

In [ ]:
sr3 = pd.Series([34,56,32,8,9,91])

In [ ]:
sr3

0    34
1    56
2    32
3     8
4     9
5    91
dtype: int64

In [ ]:
sr3.index = ["A","B","C","D","E","F"]

In [ ]:
sr3

A    34
B    56
C    32
D     8
E     9
F    91
dtype: int64

In [ ]:
sr3[1 : 4]

B    56
C    32
D     8
dtype: int64

In [ ]:
sr3["B" : "E"]

B    56
C    32
D     8
E     9
dtype: int64

In [ ]:
sr3["D"] = 81

In [ ]:
sr3

A    34
B    56
C    32
D    81
E     9
F    91
dtype: int64

In [ ]:
sr3["G"] = "Goods"

In [ ]:
sr3

A       34
B       56
C       32
D       81
E        9
F       91
G    Goods
dtype: object

In [ ]:
sr4 = pd.Series(["Apple","Blue","Orange"], index=["A","B","O"])

In [ ]:
sr4

A     Apple
B      Blue
O    Orange
dtype: object

In [ ]:
s1 = pd.Series(np.arange(11,17))

In [ ]:
s1.size

6

In [ ]:
s1.dtype

dtype('int64')

In [ ]:
s1

0    11
1    12
2    13
3    14
4    15
5    16
dtype: int64

In [ ]:
s2 = pd.Series(np.arange(21,27))

In [ ]:
s2

0    21
1    22
2    23
3    24
4    25
5    26
dtype: int64

In [ ]:
s1 + s2

0    32
1    34
2    36
3    38
4    40
5    42
dtype: int64

In [ ]:
s3 = pd.Series(np.arange(21, 29))

In [ ]:
s1.size

6

In [ ]:
s2.size

6

In [ ]:
s3.size

8

In [ ]:
ads1 = s2 + s3

In [ ]:
ads1

0    42.0
1    44.0
2    46.0
3    48.0
4    50.0
5    52.0
6     NaN
7     NaN
dtype: float64

In [ ]:
s1

0    11
1    12
2    13
3    14
4    15
5    16
dtype: int64

In [ ]:
s2

0    21
1    22
2    23
3    24
4    25
5    26
dtype: int64

In [ ]:
s1 * s2

0    231
1    264
2    299
3    336
4    375
5    416
dtype: int64

In [ ]:
s3

0    21
1    22
2    23
3    24
4    25
5    26
6    27
7    28
dtype: int64

In [ ]:
s2 * s3

0    441.0
1    484.0
2    529.0
3    576.0
4    625.0
5    676.0
6      NaN
7      NaN
dtype: float64

In [ ]:
s3

0    21
1    22
2    23
3    24
4    25
5    26
6    27
7    28
dtype: int64

In [ ]:
s1

0    11
1    12
2    13
3    14
4    15
5    16
dtype: int64

In [ ]:
s3 - s1

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
5    10.0
6     NaN
7     NaN
dtype: float64

In [ ]:
np1 = np.random.randint(10,50,(10))

In [ ]:
np1

array([43, 14, 39, 15, 12, 10, 15, 32, 31, 17])

In [ ]:
ser1 = pd.Series(np1)

In [ ]:
ser1

0    43
1    14
2    39
3    15
4    12
5    10
6    15
7    32
8    31
9    17
dtype: int64

In [ ]:
ser1.rank()

0    10.0
1     3.0
2     9.0
3     4.5
4     2.0
5     1.0
6     4.5
7     8.0
8     7.0
9     6.0
dtype: float64

In [ ]:
ser1.rank(ascending = False)

0     1.0
1     8.0
2     2.0
3     6.5
4     9.0
5    10.0
6     6.5
7     3.0
8     4.0
9     5.0
dtype: float64

In [ ]:
asd = ser1.sort_values()

In [ ]:
asd

5    10
4    12
1    14
3    15
6    15
9    17
8    31
7    32
2    39
0    43
dtype: int64

In [ ]:
ser1

0    43
1    14
2    39
3    15
4    12
5    10
6    15
7    32
8    31
9    17
dtype: int64

In [ ]:
des = ser1.sort_values(ascending = False)

In [ ]:
ser1

0    43
1    14
2    39
3    15
4    12
5    10
6    15
7    32
8    31
9    17
dtype: int64

In [ ]:
des

0    43
2    39
7    32
8    31
9    17
6    15
3    15
1    14
4    12
5    10
dtype: int64

In [ ]:
asd

5    10
4    12
1    14
3    15
6    15
9    17
8    31
7    32
2    39
0    43
dtype: int64

In [ ]:
ser1.sort_values(ignore_index=True)

0    10
1    12
2    14
3    15
4    15
5    17
6    31
7    32
8    39
9    43
dtype: int64

In [ ]:
a = pd.DataFrame()

In [ ]:
print(a)

Empty DataFrame
Columns: []
Index: []

In [ ]:
a = 100

In [ ]:
b

200

In [ ]:
c

300

In [ ]:
d = 400

In [ ]:
s1 = pd.Series([a,b,c,d])

In [ ]:
s1

0    100
1    200
2    300
3    400
dtype: int64

In [ ]:
print(s1)

0    100
1    200
2    300
3    400
dtype: int64

In [ ]:
df1 = pd.DataFrame([a,b,c,d])

In [ ]:
df1

     0
0  100
1  200
2  300
3  400

In [ ]:
list1 = ["Apple","Orange","Banana","Kiwi","Mango"]

In [ ]:
list1

['Apple', 'Orange', 'Banana', 'Kiwi', 'Mango']

In [ ]:
df_list = pd.DataFrame(list1,index = ["A","O","B","K","M"], columns=["Fruits"])

In [ ]:
df_list

   Fruits
A   Apple
O  Orange
B  Banana
K    Kiwi
M   Mango

In [ ]:
nlist = [["John",24],["Mary",23],["Henk",26],["Franny",25]]

In [ ]:
ndf1 = pd.DataFrame(nlist)

In [ ]:
ndf1

        0   1
0    John  24
1    Mary  23
2    Henk  26
3  Franny  25

In [ ]:
ndf1.index = [11,22,33,44]

In [ ]:
ndf1

         0   1
11    John  24
22    Mary  23
33    Henk  26
44  Franny  25

In [ ]:
ndf1.columns = ["Name", "Age"]

In [ ]:
ndf1

      Name  Age
11    John   24
22    Mary   23
33    Henk   26
44  Franny   25

In [ ]:
val_df = pd.DataFrame( [ ("one",1),("Two",2),("Three",3)] )

In [ ]:
val_df

       0  1
0    one  1
1    Two  2
2  Three  3

In [ ]:
val_df1 = pd.DataFrame( [ ["one",1],["Two",2],["Three",3]] )

In [ ]:
val_df1

       0  1
0    one  1
1    Two  2
2  Three  3

In [ ]:
dlist = [  {"A" : "Apple", "B" : "Banana", "C" : "Carrot" }   ,   {"L" : "Lion", "T" : "Tiger", "D" : "Dog" }       ]

In [ ]:
dlist

[{'A': 'Apple', 'B': 'Banana', 'C': 'Carrot'},
 {'D': 'Dog', 'L': 'Lion', 'T': 'Tiger'}]

In [ ]:
dlist_df = pd.DataFrame(dlist)

In [ ]:
dlist_df

       A       B       C     L      T    D
0  Apple  Banana  Carrot   NaN    NaN  NaN
1    NaN     NaN     NaN  Lion  Tiger  Dog

In [ ]:
dic1 = {"A" : "Apple", "B" : "Banana", "C" : "Carrot" }

In [ ]:
dic1

{'A': 'Apple', 'B': 'Banana', 'C': 'Carrot'}

In [ ]:
pd.DataFrame(dic1, index=[1])

       A       B       C
1  Apple  Banana  Carrot

In [ ]:
pd.DataFrame({'D': 'Dog', 'L': 'Lion', 'T': 'Tiger'},index = [1])

     D     L      T
1  Dog  Lion  Tiger

In [ ]:
pd.DataFrame(9, index = [1,2,3,4], columns= ["A","B","C"])

   A  B  C
1  9  9  9
2  9  9  9
3  9  9  9
4  9  9  9

In [ ]:
pd.Series(9)

0    9
dtype: int64

In [ ]:
list1 = [111,222]

In [ ]:
pd.DataFrame(list1)

     0
0  111
1  222

In [ ]:
dlist

[{'A': 'Apple', 'B': 'Banana', 'C': 'Carrot'},
 {'D': 'Dog', 'L': 'Lion', 'T': 'Tiger'}]

In [ ]:
dlist_df

       A       B       C     L      T    D
0  Apple  Banana  Carrot   NaN    NaN  NaN
1    NaN     NaN     NaN  Lion  Tiger  Dog

In [ ]:
dlist1 = [  {"A" : "Apple", "B" : "Banana", "C" : "Carrot" }   ,   {"A" : "Lion", "B" : "Tiger", "C" : "Dog" }       ]

In [ ]:
dlist1_df = pd.DataFrame(dlist1)

In [ ]:
dlist1_df

       A       B       C
0  Apple  Banana  Carrot
1   Lion   Tiger     Dog

In [ ]:
dlist2 = [  {"A" : "Apple", "B" : "Banana", "C" : "Carrot" }   ,   {"A" : "Lion", "B" : "Tiger", "C" : "CAT", "D" :"DOG" }       ]

In [ ]:
dlist2_df = pd.DataFrame(dlist2)

In [ ]:
dlist2_df

       A       B       C    D
0  Apple  Banana  Carrot  NaN
1   Lion   Tiger     CAT  DOG