<a href="https://colab.research.google.com/github/Ganapathi-tech/python-programming/blob/main/while_else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 1
while i < 5 :
  print(i)
  i = i+1
  
else:
  print("Value of I ", i)
  print("This is the end of the While loop....")

1
2
3
4
Value of I  5
This is the end of the While loop....

In [ ]:
i = 5
while i < 5 :
  print(i)
  i = i + 1
else :
  print("This is from Else Block")
  print("This is the end of the While loop....")

This is from Else Block
This is the end of the While loop....

In [ ]:
i = 10 
while i > 1 :
  if i == 7:
    break
  print(i)
  i = i - 1

else :
  print("This is from Else Block... ")


print("**************************")
print("This is from Main Program.")

10
9
8
**************************
This is from Main Program.

In [ ]:
# PRIMING PRIME NUMBER USING " WHILE...ELSE "

num = int(input("Enter Prime Number : "))
i = 2 
while i<num :
  if num%i == 0 :
    print(num,"is not a prime number")
    break
  i = i + 1
else :
  print(num,"is a prime Number ")

Enter Prime Number : 101
101 is a prime Number

In [ ]:
num = int(input("Enter a Number Range : "))
x = 3
while x <= num:
  i=2
  while i < x :
    if x%i == 0:
      # print(x,"Not a Prime Number ")
      break
    i = i + 1
  else :
    print(x, "is prime number")
  x = x + 1

Enter a Number Range : 10
3 is prime number
5 is prime number
7 is prime number

In [ ]:
sname = input("Enter Student Name : ")
sid = input("Enter Student RollNo : ")
m1 = int(input("Enter English Marks : "))
m2 = int(input("Enter Science Marks : "))
m3 = int(input("Enter CS Marks : "))
print("____________________")
print(sname)
print(sid)
print("Total : ",m1+m2+m3)
if (m1+m2+m3)/3 >= 50:
  print("Pass")
else :
  print("Fail")

print("*******************************")

Enter Student Name : a
Enter Student RollNo : 2
Enter English Marks : 55
Enter Science Marks : 55
Enter CS Marks : 55
a
2
Total :  165
Pass

In [ ]:
i = 1
while i<=5:
      
    sname = input("Enter Student Name : ")
    sid = input("Enter Student RollNo : ")
    m1 = int(input("Enter English Marks : "))
    m2 = int(input("Enter Science Marks : "))
    m3 = int(input("Enter CS Marks : "))
    print("____________________")
    print(sname)
    print(sid)
    print("Total : ",m1+m2+m3)
    if (m1+m2+m3)/3 >= 50:
      print("Pass")
    else :
      print("Fail")

    print("*******************************")
    i = i + 1

Enter Student Name : a
Enter Student RollNo : 1
Enter English Marks : 55
Enter Science Marks : 55
Enter CS Marks : 55
____________________
a
1
Total :  165
Pass
*******************************
Enter Student Name : b
Enter Student RollNo : 2
Enter English Marks : 66
Enter Science Marks : 66
Enter CS Marks : 66
____________________
b
2
Total :  198
Pass
*******************************
Enter Student Name : c
Enter Student RollNo : 3
Enter English Marks : 40
Enter Science Marks : 50
Enter CS Marks : 45
____________________
c
3
Total :  135
Fail
*******************************
Enter Student Name : d
Enter Student RollNo : 4
Enter English Marks : 77
Enter Science Marks : 30
Enter CS Marks : 47
____________________
d
4
Total :  154
Pass
*******************************
Enter Student Name : e
Enter Student RollNo : 5
Enter English Marks : 77
Enter Science Marks : 6
Enter CS Marks :

ValueError: ignored

In [ ]:
num = int(input("Enter No : of Student : "))
i = 1
while i<=num:
      
    sname = input("Enter Student Name : ")
    sid = input("Enter Student RollNo : ")
    m1 = int(input("Enter English Marks : "))
    m2 = int(input("Enter Science Marks : "))
    m3 = int(input("Enter CS Marks : "))
    print("____________________")
    print(sname)
    print(sid)
    print("Total : ",m1+m2+m3)
    if (m1+m2+m3)/3 >= 50:
      print("Pass")
    else :
      print("Fail")

    print("*******************************")
    i = i + 1

Enter No : of Student : 2
Enter Student Name : a
Enter Student RollNo : 1
Enter English Marks : 55
Enter Science Marks : 66
Enter CS Marks : 55
____________________
a
1
Total :  176
Pass
*******************************
Enter Student Name : b
Enter Student RollNo : 2
Enter English Marks : 40
Enter Science Marks : 45
Enter CS Marks : 40
____________________
b
2
Total :  125
Fail
*******************************

In [ ]:

while True :
  ch = input("Do you want to continue (yes / no) : ")
  if ch.lower() == "yes":
    print("Hello")
  else :
    print("Thanks for using our app")
    break

Do you want to continue (yes / no) : yes
Hello
Do you want to continue (yes / no) : yes
Hello
Do you want to continue (yes / no) : YES
Hello
Do you want to continue (yes / no) : yES
Hello
Do you want to continue (yes / no) : No
Thanks for using our app

In [ ]:
while True:
    sname = input("Enter Student Name : ")
    sid = input("Enter Student RollNo : ")
    m1 = int(input("Enter English Marks : "))
    m2 = int(input("Enter Science Marks : "))
    m3 = int(input("Enter CS Marks : "))
    print("____________________")
    print(sname)
    print(sid)
    print("Total : ",m1+m2+m3)
    if (m1+m2+m3)/3 >= 50:
      print("Pass")
    else :
      print("Fail")
    print("*******************************")

    opt = input("Would you like to continue entering another record (Yes / No ) : ")
    if opt.lower() != "yes":
      print("Data is stored successfully in database")
      print("Thanks for using our application...")
      break

Enter Student Name : a
Enter Student RollNo : 1
Enter English Marks : 55
Enter Science Marks : 55
Enter CS Marks : 55
____________________
a
1
Total :  165
Pass
*******************************
Would you like to continue entering another record (Yes / No ) : yes
Enter Student Name : b
Enter Student RollNo : 2
Enter English Marks : 40
Enter Science Marks : 40
Enter CS Marks : 45
____________________
b
2
Total :  125
Fail
*******************************
Would you like to continue entering another record (Yes / No ) : YES
Enter Student Name : c
Enter Student RollNo : 3
Enter English Marks : 50
Enter Science Marks : 40
Enter CS Marks : 60
____________________
c
3
Total :  150
Pass
*******************************
Would you like to continue entering another record (Yes / No ) : no
Data is stored successfully in database
Thanks for using our application...